*{box-sizing: border-box;}
img{width: 100%; display: block;}
html{scroll-behavior: smooth;}

.displaypixels{
    background-color: rgb(150,150,150, 0.6);
    padding: 1em;
    width: 200px;
    font-size: 1.5em;
    position: fixed;
    top: 0%;
    right: 0%;
}
.images_container{
    width: 90%;
    margin: auto;
    background-color: aliceblue;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.img_gallery{
    width: 300px;
    margin: 2em;
}

/* to the top*/
.toTop{
    background-color: rgb(50,50,50, 0.8);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 5%;
    right: 5%;
    display: none;
}
.toTop a{
    text-decoration: none;
    color: orangered;
}

/* modal window*/
.openmodal{
    overflow: hidden;
    border-radius: 12px;
    cursor: pointer;
}
.openmodal:hover{
    opacity: 0.8;
}
.modal_overlay{
    background-color: rgba(50,50,50, 0.8);
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: none;
}
.modal{
    background-color: whitesmoke;
    width: 800px;
    margin: 100px auto;
    position: relative
}
.close_btn{
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    color: darkblue;
    cursor: pointer;
    font-weight: bolder;
}
.close_btn:hover{
    color: crimson;
}
.modal h2{
    text-align: center;
    padding: 1em;
    color: darkblue;
}
.modal_info{
    display: flex;
}