*{box-sizing: border-box;}

.App{
  font-family: 'Courier New', Courier, monospace
}

.myform{
  width: 800px;
  padding: 2rem;
  box-shadow: 1px 1px 5px gray;
  margin: 3rem auto;
  background-color: azure;
}
.myform fieldset legend{
  padding: 1rem 2rem;
  text-align: center;
  background-color: white;
  border: solid gray 1px;
  margin-bottom: 2rem;
}
.inputstyle{
  padding: 0.5rem 1rem;
  border: solid gray 1px;
}
.formgroup{
  margin-bottom: 2rem;
}
label{
  width: 200px;
  display: inline-block;
}
textarea{
  display: block;
  width: 100%;
  height: 200px;
  padding: 1rem;
}
.btnsubmit{
  border: none;
  background-color: green;
  color: whitesmoke;
  padding: 0.5rem 2rem;
  border-radius: 10px;
}
.btnsubmit:hover{
  background-color: crimson;
  font-weight: bolder;
  box-shadow: 0px 0px 3px 1px gray;
  cursor: pointer;
}