*{box-sizing: border-box;}
html{scroll-behavior: smooth;}
img{width: 100%; display: block;}

.myform{
    background-color: aliceblue;
    width: 80%;
    margin: 3rem auto;
    padding: 2rem;
    box-shadow: 1px 1px 5px gray;
}
.btnsubmit{
    background-color: rgb(50,50,50);
    color: aliceblue;
    padding: 0.5rem 2rem;
    border-radius: 10px;
    cursor: pointer;
    border: none;
}
.btnsubmit:hover{
    background-color: crimson;
    box-shadow: 0px 0px 5px 1px gray;
}
.legend{
    text-align: center;
    font-size: 3rem;
    color: blueviolet;
}
.formcontrol{
    margin-top: 2rem 0rem;
}
.form_label{
    width: 150px;
    display: inline-block;
}
.form_input{
    padding: 0.5rem 1rem;
    background: lightblue;
    border: none;
    border-radius: 5px;
}
.greeting{
    display: none;
}
.display_username{
    font-style: italic;
    font-weight: 900;
    color: blueviolet;
}
.username_error_msg{
    color: crimson;
    font-size: 0.8rem;
}
.btnsubmit:disabled{
    background-color: greenyellow;
    cursor: not-allowed;
}