*{box-sizing: border-box;}
body{padding: 2rem;}
img{width: 100%; display: block;}
.title{text-align: center; color: blueviolet;}
.author{text-align: right; font-style: italic;}
#user_email{
  padding: 0.5rem 1rem;
  background-color: aliceblue;
  border-radius: 5px;
}
.imgcontainer{
  width: 800px;
  margin: 2rem auto;
}